body {
  background-color: #fff;
}

img {
  width: 100%;
}

.navbar {
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.navbar-nav {
  li {
    &.active {
      a {
        box-shadow: inset 0 -3px 0 0 #ff9800;
        color: #fff !important;
      }
    }
    a {
      color: rgba(255,255,255,.6) !important;
      &:hover {
        color: #fff !important;
      }
    }
  }
}

.at-form {
  margin-top: 50px;
  .at-signup-link {
    text-align: center;
  }
}
