.closedEventDetail {
  .comment{
    margin-top: 10px;
  }
  .event-detail-information {
    .container{
      width: 354px;
    }
  }
}
@media(max-width:768px){
  .place-hold {
    .event-detail-information {
      .container{
        height:130px;
        .event-detail-upper{
          margin-top:20px;
        }
      }
    }
  }
}
