.past-event-list {
  .group {
    &:hover .content * {
      color: #009688;
    }
    .content {
      position: relative;
      * {
        color: #000;
      }
      .rate {
        position: absolute;
        right: 20px;
        top: 38%;
      }
    }
  }
}
