.home-page {
  margin-bottom: 20px;
  .note {
    margin: 0;
    font-style: italic;
    font-size: 13px;
    color: #BDBDBD;
    margin-top: 0;
    font-weight: 400;
  }
  .map {
    border: 1px solid #D2D2D2;
    margin-top: 20px;
    padding: 2px;
  }
  .title {
    h4 {
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 4px;
    }
  }
  .header-page {
    margin-bottom: 10px;
    border-bottom: 2px solid #009688;
    padding-bottom: 10px;
    h1 {
      margin: 0;
      margin-bottom: 5px;
      font-size: 30px;
    }
  }
  .form-group {
    margin: 15px 0 0 0;
    &.is-focused {
      label {
        color: #009688;
      }
    }
    label {
      margin: 0;
      font-size: 14px;
      color: #000;
    }
    input {
      font-size: 14px;
      height: 35px;
    }
    textarea, select {
      font-size: 14px;
    }
    &.rating-group {
      text-align: center;
      margin-top: 32px;
      position: relative;
      span {
        line-height: 1.42857143;
        color: #BDBDBD;
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
  .avatar {
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }
  .rating-input {
    display: inline-block;
    vertical-align: middle;
    .glyphicon {
      font-size: 25px;
      cursor: pointer;
    }
    .glyphicon-star {
      color: #ff9800;
    }
    .glyphicon-star-empty {
      color: #BDBDBD;
      &:before {
        content: "\e006";
      }
    }
  }
  @media(max-width: 767px) {
    .note {
      padding-bottom: 5px;
      margin-bottom: 50px;
      margin-top: 10px;
    }
    .form-group.rating-group {
      text-align: left;
      span {
        position: static;
      }
    }
    
  }
}
